body {

    font-family: Helvetica;

}

.square {

    display: flex;
    width: 100%;
    height: 100px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.5rem;   

}

#square-container {

    display: grid;
    grid-template-columns: repeat(10, 100px);
    grid-column-gap: 0px;
    grid-row-gap: 0px; 

}